<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>3D拖拽酷炫魔方</title>
    <link type="text/css" href="css/css.css" rel="stylesheet">
    <link type="text/css" href="css/index.css" rel="stylesheet">

    <script src="js/index.js"></script>
</head>
<body>
<div id="wrap">
    <div class="front"></div>
    <div class="back"></div>
    <div class="left"></div>
    <div class="right"></div>
    <div class="top"></div>
    <div class="bottom"></div>
</div>
<script src="js/index.js"></script>
</body>
</html>