{% extends "base.html" %}
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <title>3D拖拽酷炫魔方</title>
    <link type="text/css" href="/static/css/css.css" rel="stylesheet">
    <link type="text/css" href="/static/css/index.css" rel="stylesheet">
</head>

<body>
{% block content %}
<div id="wrap">
    <div class="front"></div>
    <div class="back"></div>
    <div class="left"></div>
    <div class="right"></div>
    <div class="top"></div>
    <div class="bottom"></div>
</div>
<script src="/static/js/index.js"></script>
</body>
{% endblock %}
</html>