.clearfix {
    overflow: auto;
}

h1.todo-title {
    text-align: center;
    margin-bottom: 24px;
}
h1.todo-title a {
    color: #333;
}

h1.todo-title a:focus, h1.todo-title a:hover {
    color: #f44336;
    text-decoration: none;
}

.todo-exception {
    font-size: 16px;
    text-align: center;
}

.todo-content {
    min-width: 378px;
    max-width: 576px;
    margin: 64px auto;
}

.todo-list {
    margin-top: 32px;
}

.todo-empty-tip {
    margin-top: 64px;
    text-align: center;
    font-size: 18px;
    color: #ccc;
}

.todo-empty-icon {
    font-size: 36px;
}

.todo-day {
    margin: 10px 5px;
}

.todo-day h3 {
    font-size: 20px;
    margin-bottom: 2px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
}

.todo-day-list {
    margin: 2px 10px;
    font-size: 18px;
}

.todo-task {
    display: inline-block;
    margin-left: 5px;
}

.todo-task-finish {
    text-decoration: line-through;
}

.todo-cell {
    padding: 5px 0px;
    border-bottom: 1px dashed #ccc;
}

.todo-button {
    min-width: 28px;
    background: rgba(255, 255, 255, 0);
    border: none;
    font-size: 14px;
    float: right;
}

.todo-button:hover {
    color: #f44336;
}

.todo-button:focus {
    outline: none;
}

.todo-edit-input {
    max-width: 480px;
    padding: 0px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.todo-edit-input:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.todo-title:hover .todo-logout {
    display: inline-block;
}

.todo-logout {
    margin-left: -10px;
    margin-bottom: -1px;
    font-size: 24px;
    background: rgba(0, 0, 0, 0);
    border: none;
    display: none;
}

.todo-logout:hover {
    color: #f44336;
}

.todo-logout:focus {
    outline: none;
}

.user-token {
    padding: 5px 0px;
    font-size: 12px;
    font-weight: bold;
    word-wrap: break-word;
}

.register-code-image {
    width: 120px;
    height: 32px;
    text-align: center;
    margin-right: 12px;
    border-radius: 4px;
    float: left;
}

.check-code-label {
    margin-top: 10px;
    padding-left: 138px;
}

.todo-token-form {
    width: 100%;
}
