.gua-right {
    float: right;
}

a.gua-active {
    background: red;
}

nav#id-nav {
    background: black;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    /*height: 60px;*/
    /* effect */
    opacity: 0.8;
}

body {
    padding-top: 62px;
}

a.gua-nav-link {
    display: inline-block;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    height: inherit;
    float: left;
}

a.gua-nav-image {
    padding: 5px 20px 5px 20px;
    height: inherit;
}

a.gua-nav-link:hover, a.gua-nav-image:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.gua-nav {
    /*height: 90vh;*/
    /*overflow: auto;*/
}

.gua-nav-item {
    margin: 0;
    padding: 5px 0;
    display: inline-block;
    /*background: darkgrey;*/
}

.gua-nav-item:hover {
    background: #95dada;
}

.gua-nav-item > a {
    text-decoration: none;
    color: darkslategray;
}

.gua-nav-item.active > a {
    background: #cb1b45;
    color: #efd7d7;
}

.gua-nav-item > a:hover {
    background: darkslategray;
    color: white;
}

/*.gua-nav-item:hover {*/
/*background: whitesmoke;*/
/*}*/
/*.gua-nav-item:hover > a {*/
/*color: black;*/
/*}*/

.gua-block {
    overflow: hidden;
    /*margin: 5px;*/
    padding: 5px;
    /*border-style: 1px solid;*/
}

.gua-block:hover {
    background: #95dada;
}

.gua-activity {
    border-bottom: 1px dashed lightgray;
}

.gua-activity > div {
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.gua-activity > .gua-title {
    position: relative;
    /*font-size: x-large;*/
    /*font-weight: bold;*/
}

a.gua-topic-link {
    text-decoration: none;
}

.gua-topic-title {
    /*display: inline-block;*/
    padding-right: 42px;
    color: darkslategray;
}

.gua-topic-time {
    font-size: 13px;
    color: lightslategray;
}

.gua-topic-views {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    border-radius: 5px;
    background: darkorange;
    padding: 4px;
    color: white;
}

.gua-activity > img.gua-avatar {
    float: left;
}

div.gua-flex {
    display: flex;
}

div.gua-main {
    /*margin: 5%;*/
}

.gua-left {
    width: 200px;
    position: fixed;
}

.gua-center {
    margin-left: 200px;
}

.gua-button-toggle-update {
    float: right;
    margin-left: 10px;
}

.gua-button-delete {
    float: right;
    margin-left: 10px;
}

.gua-button-submit {
    float: right;
    margin-left: 10px;
}

.gua-button-cancel {
    float: right;
    margin-left: 10px;
}

input, textarea {
    box-sizing: border-box;
}

.gua-full {
    width: 100%;
}

.gua-content {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    font-size: 14px;
}

textarea.gua-content {
    height: 200px;
}

/*
棣栭〉 css
*/
div.scroll-container {
    overflow: scroll;
    height: 80vh;
}

div.vip-content img {
    max-width: 100%;
}

img.gua-avatar {
    max-width: 50px;
    max-height: 80px;
}

.pure-table tr td:first-child {
    /* 棰滆壊鎶勮鑷� pure-table-odd */
    background-color: #f2f2f2
}

.pure-table tr td:first-child {
    padding: 2%
}

.markdown-body {
    max-width: 980px;
    font-size: 14px !important;
}

.markdown-body pre {
    background-color: transparent !important;
    font-size: 100% !important;
}

.gua-solved {
    color: limegreen;
}

/*
閫氱煡椤甸潰鐨� css
*/
.gua-msg-cell {
    border: 1px solid lightblue;
    margin: 10px 5px;
    padding: 10px 5px;
}

/* 宸︿晶瀵艰埅鏍忔牱寮� */
.pure-u-1-4.gua-left.gua-nav {
    position: static;
    width: 100%;
    padding: 10px 0;
    background: #fbf9f2;
}

.pure-u-1-4.gua-left.gua-nav h2 a {
    display: inline-block;
    font-size: 14px;
    margin: 0 5px;
    border-radius: 4px;
    padding: 4px 5px;
}

.pure-u-1-4.gua-left.gua-nav h2 .active {
    background: #f0ead1;
}

.pure-u-1-4.gua-left.gua-nav h2 .active:hover {
    color: #998f66;
}

.pure-u-3-4.gua-center {
    width: 100%
}

.gua-center {
    margin: 0;
}

/* 渚ц竟鏍� */
.main {
    width: 90%;
    max-width: 1400px;
    min-width: 960px;
    margin: 15px auto;
    min-height: 400px;
    overflow: hidden;
}

.sidebar {
    width: 290px;
    font-size: 14px;
    float: right;
    margin-bottom: 20px;
}

.sidebar div {
    background: #fbf9f2;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 300px;
}

/* stylish 淇敼鍚庣殑鏍峰紡*/

body {
    font: 14px/1.5 Raleway, HNL, 'PingFangTC-Light', 'SourceHanSansTC-ExtraLight', 'Noto Sans CJK TC', 'Microsoft JhengHei', sans-serif;
}

a {
    cursor: pointer;
    color: #d70f3f;
    text-decoration: none;
}

#id-button-toggle-update {
    color: lightblue;
    background: pink;
}

nav#id-nav {
    background: rgba(203, 27, 69, 0.98);
    opacity: 1;
}

a.gua-nav-link {
    color: #eaa4b5;
}

.gua-block > div,
.gua-topic-time {
    color: #998f66;
}

.markdown-body > p {
    color: #000;
}

.gua-avatar {
    display: inline-block;
    box-sizing: content-box;
    color: #fff;
    text-align: center;
    vertical-align: top;
    background-color: #f6f3e4;
    font-weight: normal;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    font-size: 24px;
    line-height: 48px;
}

.gua-block:hover,
.gua-nav-item:hover {
    background: none;
}

.gua-nav-item > a {
    display: block;
    color: #998f66;
}

a.gua-nav-image {
    height: 55px;
    padding: 5px 20px 0 20px;
    overflow: hidden;
}

.gua-block.gua-activity:hover {
    background: #fbf9f2;
}

.gua-activity {
    border: none;
    border-radius: 4px;
}

#id-button-login,
.gua-button-big,
#id-button-toggle-comment,
#button-run,
#id-button-submit-title,
#id-button-share,
#id-button-update-code,
#id-button-addcomment,
#id-button-add,
#id-button-toggle,
#id-button-submit,
#id-button-toggle-update {
    color: #fff;
    background: #cb1b45;
    font-weight: bold;
}

#id-button-toggle-comment:hover,
#button-run:hover,
#id-button-submit-title:hover,
#id-button-share:hover,
#id-button-update-code:hover,
#id-button-addcomment:hover,
#id-button-add:hover,
#id-button-toggle:hover,
#id-button-submit:hover,
#id-button-toggle-update:hover {
    background-color: #b4183d;
}

#id-button-toggle-answer {
    color: #fff;
    background: #cb1b45;
    font-weight: bold;
}

.pure-form input[type='submit'],
#id-button-modsignature,
.gua-submit.gua-input,
.gua-full.gua-content.pure-input-1,
#id-input-comment,
.gua-search-input,
.gua-full,
.gua-content {
    outline: none;
}

.markdown-body a {
    margin-top: 8px;
    margin-right: 20px;
    white-space: normal;
    font-size: 12px;
    line-height: 1.5em;
    color: rgb(215, 15, 63);
}

.pure-g.gua-main h1 {
    text-align: center;
}

.gua-topic-views {
    top: 10px;
    font-size: 85%;
    font-weight: 600;
    display: inline-block;
    padding: .1em .5em;
    border-radius: 4px;
    text-transform: none;
    color: #fff;
    background-color: rgb(231, 103, 46);
}

.pure-form input[type='submit'],
#id-button-modsignature,
.gua-submit.gua-input {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    line-height: 20px;
    padding: 6px 12px;
    border-radius: 4px;
    user-select: none;
    color: #998f66;
    background: #f6f3e4;
    border: 0;
}

.pure-form input[type='submit']:hover,
#id-button-modsignature:hover,
.gua-submit.gua-input:hover {
    background-color: #f0ead1;
}

.pure-form input[type='submit'],
#id-button-modsignature,
input.gua-search-input,
#id-input-comment,
.gua-full.gua-content,
textarea.gua-content {
    padding-left: 10px;
}

.gua-full.gua-content:focus,
#id-input-signature:focus,
#id-input-url:focus,
input#id-input-title:focus,
.gua-full.gua-content.pure-input-1:focus,
#id-input-comment:focus,
textarea.gua-content:focus {
    outline: #cb1b45 2px solid;
}

.gua-title {
    border: none;
}

.gua-title-label {
    color: rgb(17, 17, 17);
}

.label-s {
    color: #998f66;
}

.gua-title.gua-selected {
    background: #f5f1df;
}

.gua-title:hover {
    background: #fbf9f2;
}

input.gua-search-input {
    background: #b7183e;
    border: 0;
    color: #eaa4b5;
    width: 40%;
    transition: width 1s;
}

input.gua-search-input:focus {
    background: #a01536;
    width: 100%;
}

input.gua-search-input::-webkit-input-placeholder {
    color: #eaa4b5;
}

a.gua-active {
    background: #cc1f49;
}

a.gua-nav-link:hover,
a.gua-nav-image:hover {
    background: #cc1f49;
    color: #eaa4b5;
}

.gua-task a {
    color: #337ab7;
}

/*login鏍峰紡*/
#id-button-login,
.gua-button-big {
    color: #fff;
    background: #cb1b45;
    font-weight: bold;
    cursor: pointer;
}

.gua-button-big:hover,
#id-button-login:hover {
    background-color: #b4183d;
}

.gua-input-wrapper input {
    width: 85%;
    padding-left: 10px;
    border: transparent 2px solid;
    border-radius: 4px;
}

.gua-input-wrapper input::-webkit-input-placeholder {
    color: #998f66;
    font-size: 14px;
}

.gua-input-wrapper input:focus {
    border: #cb1b45 2px solid;
}

.gua-button-big {
    width: 90%;
}

.gua-form {
    margin: 0;
    padding-top: 10px;
    background: #f6f3e4;
}

.gua-input-wrapper + .gua-input-wrapper,
.gua-form-textinput {
    border: none;
}

h1.gua-title {
    color: #000;
}

.gua-title:hover {
    background: none;
}

.gua-tab {
    margin-top: 0;
}

.gua-tab a {
    color: #998f66;
}

.gua-tab .active {
    color: #d70f3f;
}

.gua-tab .gua-block {
    background: #d70f3f;
}
