<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        profile
    </title>
</head>
<style>

    .will-right {
        float: right;
    }

    a.will-active {
        background: red;
    }

    nav {
        background: black;
    }

    a.will-nav-item {
        /* 设置 inlin-block, 这样才能设置 a 的尺寸和 padding */
        display: inline-block;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
    }

    a.will-nav-item:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }

</style>
<body>
<nav>
    <a class="will-nav-item will-active" href="base.html">首页</a>
    <a class="will-nav-item" href="/topic">论坛</a>
    <a class="will-nav-item" href="/message/index.html">留言板</a>
    <a class="will-nav-item" href="/chat/index.html">聊天室</a>
    <a class="will-nav-item will-right" href="/about.html">关于</a>
    <a class="will-nav-item will-right" href="/profile">个人主页</a>
</nav>
<h1>
    用户资料页面
</h1>
<div>
    {{ user.id }}
</div>
<div>
    {{ user.name }}
</div>
<div>
    {{ user.password }}
</div>
<title>
    Upload new File
</title>
<h1>
    Upload new File
</h1>
<form method=post action={{ url_for( ".add_img") }} enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>

</body>

</html>
